*
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.menu-bar
{
    background-image: linear-gradient(to right, #FFFFFF, #E0FFFF, #00FA9A, #000080);
}
.nav-link
{
    font-size: 16px;
    color: #fff !important;
    margin: 2px;
}
.navbar-nav
{
    text-align: right;
}
.logo-image {
    width: 160px;
  }
.menu-bar .navbar-toggler
{
    padding-right: 0;
    outline: none;
    border: none;
}
.banner
{
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/banner-1.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
.banner h1
{
    padding-top: 170px;
    font-size: 50px;
    letter-spacing: 6px;
    font-weight: 600;
    text-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.box
{
    width: 900px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
}

.box h1
{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5
{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box .btn
{
    width: 100%;
    padding: 8px 10px;
    font-size: 20px;
    border: 0;
    background: #696969;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.box .name{
    font-weight: bold;
}

.box .qualification{
    margin-top: 20px;
    text-decoration: underline;
}

.input_field{
    margin-top: 20px;
}

















